.content-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: start;
    width: 100%;
}

.calendar-container {
    width: 50%;
    display: flex;
    justify-content: flex-end;
}

.create-event-btn {
    width: 100px;
    height: 40px;
    margin: 10px;
    margin-left: 0px;
    display: block;
    
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;

    &:hover {
        background-color: #0069d9;
    }
}

.event-container {
    /* Styles for the container itself */
    flex: 1;
    margin-left: 20px;
    margin-right: 20px;
    /* Space between event details and calendar */
    width: 100%;
}

.dark-mode .create-event-btn {
    background-color: #005B41;
}