.calendar {
  width: 100%;
  height: auto;
  margin: 10px 10px 10px 0;
  padding: 10px;
  /* Center the calendar horizontally */
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* Center the calendar vertically */
  align-items: center;
  border: 1px solid #847777;
  border-radius: 15px;
  background-color: #d2c6f6;
}

.calendar-header {
  width: 100%;
  height: 10%;
  /* Adjust as needed */
  display: flex;
  align-items: center;
  justify-content: center;
  /* Center the content horizontally */
  margin-bottom: 10px;
}

.calendar-body {
  width: 100%;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.table-header {
  width: 100%;
  height: 10%;
  /* Adjust as needed */
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.table-header h2 {
  width: 100%;
  height: 10%;
  margin-bottom: 0;
  /* Adjust as needed */
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.table-content {
  width: 100%;
  flex-grow: 1;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  box-sizing: border-box;
}

.weekday {
  width: 14%;
  /* Adjust as needed for 7 days */
  text-align: center;
}

.calendar-day {
  width: 14%;
  /* Adjust as needed for 7 days */
  height: 90px;
  position: relative;
  border: 1px solid #a6a6a6;
  background-color: #ffffff;
  overflow: hidden;
}

.calendar-day:hover {
  background-color: #efefef;
}

.calendar-day p {
  position: absolute;
  right: 5px;
  color: #a6a6a6;
  margin-top: 0;
}

.calendar-event-container {
  margin-top: 14px;
}

.current p {
  position: absolute;
  right: 5px;
  color: #000000;
  margin-top: 0;
}

.today p {
  color: #cc0000;
  font-weight: bold
}


.selected,
.selected:hover {
  background-color: #c3f2f8;
}

body.dark-mode {
  background-color: #35374B;
  color: #ffffff;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked+.slider {
  background-color: #005B41;
}

input:focus+.slider {
  box-shadow: 0 0 1px #005B41;
}

input:checked+.slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}