.calendar {
  width: 100%;
  height: auto;
  margin: 10px 10px 10px 0;
  padding: 10px;
  /* Center the calendar horizontally */
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* Center the calendar vertically */
  align-items: center;
  border: 1px solid #847777;
  border-radius: 15px;
  background-color: #d2c6f6;
}

.calendar-header {
  width: 100%;
  height: 10%;
  /* Adjust as needed */
  display: flex;
  align-items: center;
  justify-content: center;
  /* Center the content horizontally */
  margin-bottom: 10px;
}

.calendar-body {
  width: 100%;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.table-header {
  width: 100%;
  height: 10%;
  /* Adjust as needed */
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.table-header h2 {
  width: 100%;
  height: 10%;
  margin-bottom: 0;
  /* Adjust as needed */
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.table-content {
  width: 100%;
  flex-grow: 1;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  box-sizing: border-box;
}

.weekday {
  width: 14%;
  /* Adjust as needed for 7 days */
  text-align: center;
}

.calendar-day {
  width: 14%;
  /* Adjust as needed for 7 days */
  height: 90px;
  position: relative;
  border: 1px solid #a6a6a6;
  background-color: #ffffff;
  overflow: hidden;
}

.calendar-day:hover {
  background-color: #efefef;
}

.calendar-day p {
  position: absolute;
  right: 5px;
  color: #a6a6a6;
  margin-top: 0;
}

.calendar-event-container {
  margin-top: 14px;
}

.current p {
  position: absolute;
  right: 5px;
  color: #000000;
  margin-top: 0;
}

.today p {
  color: #cc0000;
  font-weight: bold
}

.selected,
.selected:hover {
  background-color: #c3f2f8;
}

.dark-mode {
  .calendar {
    background-color: #5e75af;
  }

  .calendar-day {
    border-color: gray;
    background-color: rgb(214 229 255);
    color: black;

    &:hover {
      background-color: #e4e8f9;
    }
  }

  .selected,
  .selected:hover {
    background-color: rgb(122, 194, 242);
  }

}