.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000; /* Ensure it's above other content */
  }
  
  .modal {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    max-width: 500px;
    width: 100%;
  }

 .dark-mode .modal {
  background-color: #232D3F;
 }
  
  .modal-close-btn {
    float: right;
    cursor: pointer;
  }
  
  form > label {
    display: block;
    margin-bottom: 10px;
  }
  
  form > label > input,
  form > label > textarea {
    display: block;
    width: 100%;
    margin-top: 5px;
  }

 .dark-mode form > label > input,
  form > label > textarea {
   border-color: #232D3F;
  }
  
  button {
    cursor: pointer;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    margin-top: 10px;
  }

  .dark-mode .button {
    background-color: #005B41;
  }
