.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  /* Ensure it's above other content */
}

.modal {
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  max-width: 500px;
  width: 100%;
}

.modal-header {
  display: flex;
  justify-content: space-between;
}

.modal-close-btn {
  border-radius: 50%;
  background-color: white;
  border: none;
  color: gray;
  cursor: pointer;
  float: right;
  font-size: 20px;

  &:hover {
    background-color: white;
  }
}

form>label {
  display: block;
  margin-bottom: 10px;
}

form>label>input,
form>label>textarea {
  border-radius: 5px;
  display: block;
  width: 100%;
  margin-top: 5px;
  background-color: white;
  color: black;
}

.err-msg {
  color: red;
}

.submit-button {
  cursor: pointer;
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  margin-top: 10px;

  &:hover {
    background-color: #0069d9;
  }
}

/* dark mode styles */

.dark-mode {
  color: white;

  .modal {
    background-color: #232D3F;
  }

  form>label>input,
  form>label>textarea {
    background-color: #333;
    border-color: gray;
    color: white;
  }

  .modal-close-btn, .modal-close-btn:hover {
    background-color: #232D3F;
  }

  .submit-button {
    background-color: #005B41;
  }
}