.event-box {
    display: grid;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 500px;

    h3 {
        margin: auto;
        margin-bottom: 10px;
    }
}

tr {
    display: flex;
}

td:first-child {
    font-weight: bold;
    flex-shrink: 0;
    margin-right: 5px;
    text-align: right;
    width: 90px;
    white-space: nowrap;
}

.dark-mode {
    .event-box {
        background-color: rgb(96 98 128);
        border-color: rgb(86, 86, 86);
    }
}