.event-box {
    display: grid;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 500px;
}

.event-header {
    display: flex;
    overflow-wrap: anywhere;

    h3 {
        margin: auto;
        margin-bottom: 10px;
    }
}

.event-dropdown {
    position: relative;
}

.event-button {
    background-color: white;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    font-size: large;

    &:hover {
        background-color: lightgray;
    }
}

.event-options {
    border-radius: 5px;
    position: absolute;
    right: 0;
    display: flex;
    flex-direction: column;
    width: 50px;
}

.event-option-btn {
    background-color: #ebebeb;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: block;
    margin-bottom: 2px;
    padding: 5px;
}

.event-option-btn:hover {
    background-color: lightgray;
}

tr {
    display: flex;
    overflow-wrap: anywhere;
}

td:first-child {
    font-weight: bold;
    flex-shrink: 0;
    margin-right: 5px;
    text-align: right;
    width: 90px;
    white-space: nowrap;
}

td>p {
    margin: 0;
}

.dark-mode {
    .event-box {
        background-color: rgb(96 98 128);
        border-color: rgb(86, 86, 86);
    }

    .event-button {
        background-color: rgb(96 98 128);
        color: lightgray;
    }

    .event-option-btn {
        background-color: #03815d;
        color: white;

        &:hover {
            background-color: #03694c;
        }
    }
}