.navbar {
    background-color: #F1ECE4;
    color: #030303;
    padding: 5px 0;
    height: 50px;

    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
    display: flex;

    align-items: center;
}

.logo {
    margin-right: auto;
}

.navbar img {
    width: 40px;
    height: 40px;

    margin: 0;
    padding: 5px;
    border: 0px;
    object-fit: contain;
}

.navbar h1 {
    margin: 0;
}

.navbar a {
    color: #fff;
    text-decoration: none;
}

.navbar a:hover {
    text-decoration: underline;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover,
.user-options a:hover {
    background-color: #f1f1f1;
    border-radius: 5px;
    text-decoration: none;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropbtn {
    background-color: #F1ECE4;
    color: #030303;
    padding: 5px 10px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropbtn:hover {
    background-color: #ddd;
}

.user-button {
    background-color: lightgray;
    border: black;
    border-radius: 50%;
    cursor: pointer;
    margin: 0 5px;
    padding: 8px 10px;
}

.user-button:hover {
    background-color: #ddd;
}

.user-options {
    border-radius: 5px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
    display: block;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 100px;
    right: 0;
    text-align: center;
    z-index: 1;
}

.user-options a {
    display: block;
    color: black;
    padding: 10px 10px;
}

/* Dark mode styles */
.dark-mode {
    background-color: #35374B;
    color: #ffffff;

    .navbar {
        background-color: #232D3F;
        color: #fff;
    }

    .dropdown-content,
    .user-options {
        background-color: #005B41;

        a {
            color: white
        }

        a:hover {
            background-color: #008170;
        }
    }

    .dropbtn {
        background-color: #232D3F;
        color: lightgray;
    }

    .user-button {
        background-color: gray;
        border: black;
        border-radius: 50%;
        margin: 0 5px;
        padding: 8px 10px;
    }
}