.navbar {
    background-color: #F1ECE4;
    color: #030303;
    padding: 5px 0;
    height: 50px;
   
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
    display: flex;
    
    align-items: center;
}

.navbar img {
    /* Reduced image size */
    width: 40px;
    height: 40px;

    margin: 0;
    padding: 5px;
    border: 0px;
    object-fit: contain;
}

.navbar h1 {
    margin: 0;
}

.navbar a {
    color: #fff;
    text-decoration: none;
}

.navbar a:hover {
    text-decoration: underline;
}
.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropbtn {
    background-color: #F1ECE4;
    color: #030303;
    padding: 5px 10px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropbtn:hover {
    background-color: #ddd;
}

body.dark-mode {
    background-color: rgb(72, 71, 71);
    color: #F1ECE4;
}