.header {
    text-align: center;
}

.title {
    display: inline-block;
    margin-top: 10px;
}

.create-button {
    background-color: #007bff;
    border: none;
    border-radius: 50%;
    color: white;
    cursor: pointer;
    font-size: 20px;
    margin: 8px 10px 0 0;
    position: absolute;
    right: 0;
    text-align: center;
}

.create-button:hover {
    background-color: #0069d9;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
}

.group-list {
    display: flex;
    flex-wrap: wrap;
    gap: 45px;
    height: auto;
    padding: 0 30px 30px 10px;
}

.group {
    border: 2px solid black;
    border-radius: 10px;
    width: 250px;
}

.group-name {
    border-bottom: 2px solid black;
    border-radius: 10px 10px 0 0;
    background-color: #f1ece4;
    padding: 10px;
    font-size: large;
    font-weight: bold;
    overflow-wrap: break-word;
}

.group-members {
    padding: 10px;
}

.empty {
    color: gray;
    display: flex;
    justify-content: center;
}

.dark-mode {
    .create-button {
        background-color: #005B41;
    }

    .group-name {
        background-color: #5e75af;
    }

    .group-members {
        background-color: #717a93;
        border-radius: 0px 0px 10px 10px;
    }
}